*{
    margin: 0px;
    padding: 0px;
}


.container{
    display: flex;
    background-color: rgb(101, 163, 101);
    height: 80px;
}

.container-titulos{
    display: flex;
    color: rgb(0, 0, 0);
    margin-left: 30px;
        align-items: center;
}
h1{
    color: rgb(0, 0, 0);
}
.logo img{
    height: 70px;
    width: 80px;
    margin-left: 40px;
    margin-top: 30px;
}
.card{
    width: 400px;
    height: 800px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 10px;
}
.p{
    padding-left: 10px;
    margin-top: 10px;
}
img{
    margin-top: 50px;
    width: 300px;
}
.cardsupremo{
    display: flex;
    background-color: rgb(101, 163, 101);
    width: 2000px;
    height: 1300px;
}